.form-root {
  display: flex;
  gap: 8px;
}

.form-root_vertical {
  flex-direction: column;
}

.form-root_horizontal {
  flex-direction: row;
}

.form-standard {
  width: 400px;
  margin: auto;
}

.form-root > h4:first-of-type {
  font-weight: 400;
  font-size: 0.75rem;
  color: #999999;
}
